body {
	font-family:Arial;
	color: black;
	font-size:14px;
	position: relative;	
	width: 800px;
    margin:auto;    
}

table {
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
}

table th {
	padding:20px 20px 20px 20px;
	background: #ededed;
}

table tr {
	text-align: center;
}

table td {	
	padding:20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-radius: 5px;
	text-align: left;
	background: #fafafa;
}

table tr:nth-child(odd) td{  
  color: black;
  background: gainsboro;
}

table td:first-child {
		width: 80%;
}

.button {
	border: none;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
	transform-style: preserve-3d;
}

.button:hover {
	transform-origin: center bottom;
	transform: rotateX(-40deg);
}

.swap{
	color: white;
	background-color: blue
}

.edit{
	background-color: yellow
}

.delete{
	color: white;
	background-color: #CC3333 
}

#add_item {
	width: 60%;
}

#form{
	padding:20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-radius: 5px;
	text-align: left;
	background: gainsboro;
}

#holder {
	text-align: center;
}

#submit {
	background-color: green;
	color: white;
}