nav {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;

	text-align: left;
	background-color: beige;
    box-shadow: 2px 4px grey; 
}

footer {           
	bottom: 0px;
	left: 0;
	width: 100%;

	text-align: center;
	background-color:beige;		
    box-shadow: 3px 6px grey; 
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

img{
    width:100%;
    max-width:400px;
}

body {
	position: relative;
	left: 100px;
	width: 800px;
    margin:auto;    
}

@media (max-width: 1000px) {

	nav {
	position:fixed;       
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;

	text-align: center;
	background-color: beige;
    box-shadow: 2px 4px grey; 
	}

	#sidebar li {
    display: inline-block;
    margin: auto;
    padding: 1px 7px;
	}

	.floatright {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
		float: none;
	}

	.floatleft {
		display: block;
	    margin-left: auto;
	    margin-right: auto;
		float: none;
	}

	body{
		position: relative;
		top: 100px;
		left: 0px;
	  	min-width:400px;
	  	width: auto !important;	   
	}
}
