/* Fundamentals - úkol */

body {
	font: 18pt Arial;
	vertical-align: middle;
	background-image: url("pattern.png");
	color: black;
	outline-color: black;
}

table, th, td {
	border: 2px solid green;
	border-collapse: collapse;
}

p#Intro.report {
	margin: 25px 50px 75px 100px;
	padding: 25px 50px 75px 100px;	
	border: 1px solid black;
}

thead > tr {
	background-color: yellow;
}

td[colspan] {
    background-color: lime;    
}

a:hover {
	 background-color: yellow;
	 color: red;
}

p:first-letter {
	font-weight: bold;
}


/* Effects - úkol */

@font-face {
    font-family: 'myCustomFont';
    src: url('league.woff');
}

body {
	font-family: 'myCustomFont';
}

p {
	background-color: transparent;
	box-shadow: none;
    transition: box-shadow 1s;
}

p:hover {
    background-color: #CB243A;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    box-shadow: 0 0 10px #515151;
}

img {
	-webkit-animation: rotation 2s infinite linear;
}

img:hover {
	-webkit-transform: perspective(600px) rotateZ(5deg) rotateX(5deg) rotateY(5deg);
    -ms-transform: perspective(600px) rotateZ(5deg) rotateX(5deg) rotateY(5deg);
    -moz-transform: perspective(600px) rotateZ(5deg) rotateX(5deg) rotateY(5deg);
    transform: perspective(600px) rotateZ(5deg) rotateX(5deg) rotateY(5deg);
}

:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}